#
# Initial RV1103 / Luckfox Pico Mini SPI-NAND bring-up configuration.
#

CONFIG_ALARM_ARCH=y
CONFIG_ANALOG=y
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/rockchip/boards/rv1103/luckfox-pico-mini"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="luckfox-pico-mini"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/rockchip/chips/rv1103"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="rv1103"
CONFIG_ARCH_CHIP_RV1103=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ADC=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOOT_RUNFROMSDRAM=y
CONFIG_BUILTIN=y
CONFIG_DEFAULT_TASK_STACKSIZE=4096
CONFIG_DEV_GPIO=y
CONFIG_DEV_NULL=y
CONFIG_DEV_RANDOM=y
CONFIG_DEV_URANDOM=y
CONFIG_DEV_URANDOM_ARCH=y
CONFIG_DEV_ZERO=y
CONFIG_EXAMPLES_ADC=y
CONFIG_EXAMPLES_ADC_SWTRIG=y
CONFIG_EXAMPLES_GPIO=y
CONFIG_EXAMPLES_HELLO=y
CONFIG_EXAMPLES_RANDOM=y
CONFIG_EXAMPLES_PWM=y
CONFIG_EXAMPLES_WATCHDOG=y
CONFIG_FS_PROCFS=y
CONFIG_I2C=y
CONFIG_I2C_DRIVER=y
CONFIG_INPUT=y
CONFIG_INPUT_BUTTONS=y
CONFIG_FS_LITTLEFS=y
CONFIG_FS_LITTLEFS_PROGRAM_SIZE_FACTOR=1
CONFIG_FS_LITTLEFS_READ_SIZE_FACTOR=1
CONFIG_FS_LITTLEFS_CACHE_SIZE_FACTOR=1
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_MAXARGUMENTS=16
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAMLOG=y
CONFIG_RAMLOG_BUFSIZE=8192
CONFIG_RAMLOG_SYSLOG=y
CONFIG_RAM_SIZE=41943040
CONFIG_RAM_START=0x00800000
CONFIG_RAM_VSTART=0x00800000
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_RV1103_WATCHDOG=y
CONFIG_RV1103_TSADC=y
CONFIG_RV1103_TRNG=y
CONFIG_RV1103_PL330_DMA=y
CONFIG_RV1103_SFC_NAND=y
CONFIG_RV1103_SDMMC=y
CONFIG_RV1103_SDMMC_DMA=y
CONFIG_RV1103_USB_DWC3_CHECKPOINT=y
# CONFIG_RV1103_USB_CDCACM is not set
CONFIG_RV1103_I2C=y
CONFIG_RV1103_SC3336_CHECKPOINT=y
CONFIG_DRIVERS_VIDEO=y
CONFIG_VIDEO_STREAM=y
CONFIG_RV1103_SPI=y
CONFIG_RV1103_SPI0=y
CONFIG_RV1103_PWM=y
CONFIG_RV1103_PWM_CHANNEL=1
CONFIG_RV1103_PWM_ROUTE=0
CONFIG_RV1103_SARADC=y
CONFIG_RV1103_ADC_KEYS=y
CONFIG_RV1103_UART3_M1=y
CONFIG_RV1103_UART4_M1=y
CONFIG_BCH=y
CONFIG_MMCSD=y
CONFIG_MMCSD_SDIO=y
CONFIG_MMCSD_HAVE_CARDDETECT=y
CONFIG_MMCSD_MULTIBLOCK_LIMIT=128
# CONFIG_MMCSD_SPI is not set
# CONFIG_MMCSD_IOCSUPPORT is not set
# CONFIG_MMCSD_MMCSUPPORT is not set
# CONFIG_MMCSD_HAVE_WRITEPROTECT is not set
CONFIG_SDIO_BLOCKSETUP=y
CONFIG_SENSORS=y
CONFIG_SYSTEM_SENSORTEST=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_I2CTOOL_MINBUS=3
CONFIG_I2CTOOL_MAXBUS=4
CONFIG_SYSTEM_SPITOOL=y
CONFIG_SPITOOL_MINBUS=0
CONFIG_SPITOOL_MAXBUS=0
CONFIG_SYSTEM_SYSTEM=y
CONFIG_SYSLOG_MAX_CHANNELS=2
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGINCR=1
CONFIG_16550_REGWIDTH=32
CONFIG_16550_SUPRESS_INITIAL_CONFIG=y
CONFIG_16550_UART=y
CONFIG_16550_UART0=y
CONFIG_16550_UART0_BASE=0xff4c0000
CONFIG_16550_UART0_BAUD=115200
CONFIG_16550_UART0_BITS=8
CONFIG_16550_UART0_CLOCK=24000000
CONFIG_16550_UART0_IRQ=59
CONFIG_16550_UART0_SERIAL_CONSOLE=y
CONFIG_16550_UART1=y
CONFIG_16550_UART1_BASE=0xff4d0000
CONFIG_16550_UART1_BAUD=115200
CONFIG_16550_UART1_BITS=8
CONFIG_16550_UART1_CLOCK=24000000
CONFIG_16550_UART1_IRQ=60
CONFIG_16550_UART2=y
CONFIG_16550_UART2_BASE=0xff4e0000
CONFIG_16550_UART2_BAUD=115200
CONFIG_16550_UART2_BITS=8
CONFIG_16550_UART2_CLOCK=24000000
CONFIG_16550_UART2_IRQ=61
CONFIG_16550_WAIT_LCR=y
CONFIG_PWM=y
CONFIG_SPI=y
CONFIG_SPI_EXCHANGE=y
CONFIG_SPI_DRIVER=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_USEC_PER_TICK=1000
